.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
    background-color: #444444;
    width: 100%;
}

.unorderedList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 20px;
    padding: 0;
    margin: 0px;
}